<ion-header [translucent]="true">
    <ion-toolbar color="light" align="center">
        <ion-title>
            Zoologico
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


    <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/hero-detalles">
        <ion-fab-button>
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-card *ngFor="let a of heroes" color="dark">
        <ion-card-header align="center">
            <ion-card-title button [routerLink]="['/hero-detalles', a.id]">{{a.nombre}}</ion-card-title>
        </ion-card-header>

        <ion-item>
            <ion-label> Nombre Cientifico: {{a.nombre_c}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Promedio de Vida: {{a.promedio_v}}</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Habitad: {{a.habitad}}</ion-label>
        </ion-item>

        <ion-item>
            <ion-icon *ngIf="a.alimentacion=== '6'" name="restaurant-outline" color="success"></ion-icon>
            <ion-icon *ngIf="a.alimentacion=== '5'" name="leaf-outline" color="success"></ion-icon>
            <ion-icon *ngIf="a.alimentacion=== '4'" name="leaf" color="success"></ion-icon>
            <ion-icon *ngIf="a.alimentacion=== '3'" name="flower-outline" color="success"></ion-icon>
            <ion-icon *ngIf="a.alimentacion=== '2'" name="nutrition-outline" color="success"></ion-icon>
            <ion-icon *ngIf="a.alimentacion=== '1'" name="egg-outline" color="success"></ion-icon>
        </ion-item>
    </ion-card>

</ion-content>